<!DOCTYPE html> 
<html> 
<head> 
	<title>My Page</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />

	<link href="css/progressBar.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
</head> 
<body>

<!-- Start of first page -->
<div data-role="page" id="welcome">

	<div data-role="header">
		<h1 id="username"></h1>
			<p class="facebookLogin" id="logintext">
				Please login through Facebook
				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>
			</p>
		<h1>Prioritize</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
	
	<p>Welcome to the Prioritize app! Use mindfulness to make smart financial decisions! </p>
	     
	 <h3 class="ui-title">Set your budget for today:</h3>
		<form>
  			 <input type="range" name="slider" id="myBudget" value="25" min="0" max="100"  />
		</form>
		<a href="#mainPage" data-role="button" onclick="setBudget()">Submit</a>

</div>
</div>

<!-- Second page -->
<div data-role = "page" id="mainPage">

	<div data-role="header">
		<h1>Prioritize</h1>
	</div><!-- /header -->
   <script>
	function setBudget() {
    var x = document.getElementById("myBudget").value;
    var y = "Your budget for today is $" + x + ".00.";
    document.getElementById("demo").innerHTML = y;
	}
	</script>

	{{#if viewAlt}}
		<!-- Date -->
	<div class="ui-grid-b">

		<!-- get yesterday -->
		<button class="btn btn-primary btn-lg btn-responsive" onclick="window.location='yesterday.html'">&lt</button>
		<!-- end get yesterday -->

		<!-- get today -->
		<button id="dateToday.js" class="btn btn-primary btn-lg btn-responsive" onclick="window.location='calendar.html'">
		Today
		</button> <!-- end today -->

		<!-- get tomorrow -->
		<button class="btn btn-primary btn-lg btn-responsive" onclick="window.location='tomorrow.html'">&gt</button>
		<!-- end get tomorrow -->
    </div> <!-- End of group of button for Date -->
    
 <h3 id="demo"></h3>

 	<!-- Progress bar 
 		https://codepen.io/cliffpyles/pen/xbsiC -->
	 <div id="page" class="page">
	  <div class="progress-bar">
		  <canvas id="inactiveProgress" class="progress-inactive" height="275px" width="275px"></canvas>
	    <canvas id="activeProgress" class="progress-active"  height="275px" width="275px"></canvas>
	    <p>0%</p>
	  </div><br />
	  <div id="progressControllerContainer">
	    <input type="range" id="progressController" min="0" max="100" value="15" />
	  </div>
	  <script src="/js/progressBar.js"></script>
	</div>


					<!-- The Item List -->

{{#each Items}}
<div class="itemDatabase">
<ul data-role="listview" data-inset="true" >
    <li><a href="#">
		<h2>{{name}}</h2>
		<p class="ui-li-aside"><strong>${{price}}</strong></p>
		<p><i><strong>{{priority}}</strong></i></p>

	</a></li>
</ul>
</div>

{{/each}}

<a href="#addItem" data-role="button">Add Item</a>

{{else}}

<!-- Date -->
	<div class="ui-grid-b">


		<!-- get today -->
		<button id="dateToday.js" class="btn btn-primary btn-lg btn-responsive" onclick="window.location='calendar.html'">
		History
		</button> <!-- end today -->

		<a href="#addItem" data-role="button">Add Item</a>

    </div> <!-- End of group of button for Date -->
    
 <h3 id="demo"></h3>

 	<!-- Progress bar 
 		https://codepen.io/cliffpyles/pen/xbsiC -->
	 <div id="page" class="page">
	  <div class="progress-bar">
		  <canvas id="inactiveProgress" class="progress-inactive" height="275px" width="275px"></canvas>
	    <canvas id="activeProgress" class="progress-active"  height="275px" width="275px"></canvas>
	    <p>0%</p>
	  </div><br />
	  <div id="progressControllerContainer">
	    <input type="range" id="progressController" min="0" max="100" value="15" />
	  </div>
	  <script src="/js/progressBar.js"></script>
	</div>


					<!-- The Item List -->

{{#each Items}}
<div class="itemDatabase">
<ul data-role="listview" data-inset="true" >
    <li><a href="#">
		<h2>{{name}}</h2>
		<p class="ui-li-aside"><strong>${{price}}</strong></p>
		<p><i><strong>{{priority}}</strong></i></p>

	</a></li>
</ul>
</div>
{{/each}}

	{{/if}}
</div><!-- /content -->


<!-- Start of third page -->

<!-- /header -->
<div data-role="page" id="addItem">


	<div data-role="header">
		<p>
			<a href="#mainPage" data-role="button">Go home</a></p>
		</p>
		<h1>Prioritize</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">

	<form id="addItemForm" role="form" method="get" action="/add">
		<h3>Add the details for this expense!</h3>
		
	    <div class="form-group">
	      <label for="name"> Item Name:</label>
	      <input type="text" class="form-control" id="item_name" placeholder="Item Name" name="name">
	    </div>

	    <div class="form-group">
	      <label for="price">Item Price:</label>
	      <input type="number" class="form-control" id="item_price" placeholder="e.g. 25.00" name="price" step=".01">
	    </div>
	    <div class="form-group">
	    <fieldset class"form-check" data-role="controlgroup">
			<legend>Categorize this expense:</legend>
	     	<input type="radio" name="priority" id="need" value="Need" checked="checked"/>
	     	<label for="need">Need</label>

	     	<input type="radio" name="priority" id="treat" value="Treat"/>
	     	<label for="treat">Treat</label>

	     	<input type="radio" name="priority" id="other" value="Other"/>
	     	<label for="other">Other</label>
		</fieldset>
		</div>



	    <input type="submit" id="submitItem" class="btn btn-default" value="Submit"></input>


	</form>


	</div>
	</div><!-- /content -->
><!-- /page -->


<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/introHCI.js"></script>
{{> facebook}}
<script src="/js/facebook.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114588990-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114588990-2');
</script>

</body>
</html>
